<html lang="en" class = "has-background-black">
<h1 class = "is-size-1 is-uppercase has-text-weight-bold has-text-centered has-text-primary" style="margin-top: 100px;"><%= @producto.name %></h1>
<div class = "has-text-centered">
    <img src=<%= @producto.imagen.url(:width=>300, :crop=>"fill") %>>
</div>

<p class = "is-size-3 has-text-weight-bold has-text-centered has-text-white">Color: <%= @producto.color %></p>
<p class = "is-size-3 has-text-weight-bold has-text-centered has-text-white">Talla: <%= @producto.talla %></p>
<p class = "is-size-3 has-text-weight-bold has-text-centered has-text-white">Precio: <%= @producto.precio %></p>
<p class = "is-size-3 has-text-weight-bold has-text-centered has-text-white"><%= @producto.likes.count %> <%= (@producto.likes.count) == 1 ? 'Like' : 'Likes'%></p>


<div class = "card is-size-4 has-text-light">
    <footer class = "card-footer has-text-centered">
    <% if current_user.admin %>
        <h3 class = "card-footer-item">
            <%= link_to "Editar", :edit_producto %>
        </h3>
        <h3 class = "card-footer-item">
            <%= link_to "Eliminar", :destroy_producto, data: {turbo_method: :delete, turbo_confirm: "¿Estas seguro?"} %>
        </h3>
    <% end %>
        <h3 class = "card-footer-item">
        <%= link_to "Reseñas", ver_resenas_url(@user, @producto) %>
        </h3>
        <h3 class = "card-footer-item">
        <%= link_to "Compras", ver_compras_url(@user, @producto) %>
        </h3>
        <h3 class = "card-footer-item">
        <%= button_to "Like", crear_like_url(@user, @producto), class: "button-especific" %>
        </h3>
        <h3 class = "card-footer-item">
        <%= link_to "Volver a productos", :ver_productos %>
        </h3>
    </footer>
 </div>
 </html>